Import de bibliotecas

In [1]:
import pandas as pd

Tratamento de dados

In [2]:
# Carregar os CSVs
df_pokedex = pd.read_csv('../../datasets/pokemon/pokemon.csv')
df_combats = pd.read_csv('../../datasets/pokemon/combats.csv')

# Printar as colunas de cada DataFrame
print("Colunas do df_pokedex:")
print(df_pokedex.columns)

print("\nColunas do df_combats:")
print(df_combats.columns)

Colunas do df_pokedex:
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Colunas do df_combats:
Index(['First_pokemon', 'Second_pokemon', 'Winner'], dtype='object')

In [3]:
df_merge = pd.merge(
    df_combats,
    df_pokedex,
    how='left',
    left_on='First_pokemon',
    right_on='#',
    suffixes=('', '_first')
)

df_merge

,First_pokemon,Second_pokemon,Winner,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,266,298,298,266,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False
1,702,701,701,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
2,191,668,668,191,Togetic,Fairy,Flying,55,40,85,80,105,40,2,False
3,237,683,683,237,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
4,151,231,151,151,Omastar,Rock,Water,70,60,125,115,70,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,126,707,707,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
49996,589,664,589,589,Drilbur,Ground,NaN,60,85,40,30,45,68,5,False
49997,303,368,368,303,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
49998,109,89,109,109,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False
49999,9,73,9,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [4]:
df_final = pd.merge(
    df_merge,
    df_pokedex,
    how='left',
    left_on='Second_pokemon',
    right_on='#',
    suffixes=('_first', '_second')
)
df_final = df_final.drop(columns=['#_first', '#_second'])
df_final

,First_pokemon,Second_pokemon,Winner,Name_first,Type 1_first,Type 2_first,HP_first,Attack_first,Defense_first,Sp. Atk_first,...,Type 1_second,Type 2_second,HP_second,Attack_second,Defense_second,Sp. Atk_second,Sp. Def_second,Speed_second,Generation_second,Legendary_second
0,266,298,298,Larvitar,Rock,Ground,50,64,50,45,...,Grass,Dark,70,70,40,60,40,60,3,False
1,702,701,701,Virizion,Grass,Fighting,91,90,72,90,...,Rock,Fighting,91,129,90,72,90,108,5,True
2,191,668,668,Togetic,Fairy,Flying,55,40,85,80,...,Psychic,NaN,75,75,75,125,95,40,5,False
3,237,683,683,Slugma,Fire,NaN,40,40,40,70,...,Dragon,NaN,77,120,90,60,90,48,5,False
4,151,231,151,Omastar,Rock,Water,70,60,125,115,...,Bug,Rock,20,10,230,10,230,5,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,707,126,707,Reshiram,Dragon,Fire,100,120,100,150,...,Water,NaN,30,40,70,70,25,60,1,False
49996,589,664,589,Drilbur,Ground,NaN,60,85,40,30,...,Electric,NaN,35,55,40,45,40,60,5,False
49997,303,368,368,Pelipper,Water,Flying,60,50,100,85,...,Normal,NaN,73,115,60,60,60,90,3,False
49998,109,89,109,Voltorb,Electric,NaN,40,30,50,55,...,Electric,Steel,25,35,70,95,55,45,1,False
49999,9,73,9,Mega Charizard Y,Fire,Flying,78,104,78,159,...,Fighting,NaN,70,80,50,35,35,35,1,False

In [5]:
df_final['Winner'] = (df_final['Winner'] == df_final['First_pokemon']).astype(int)
df_final =  df_final.drop(columns=['First_pokemon', 'Second_pokemon', 'Name_first', 'Name_second'])
df_final

,Winner,Type 1_first,Type 2_first,HP_first,Attack_first,Defense_first,Sp. Atk_first,Sp. Def_first,Speed_first,Generation_first,...,Type 1_second,Type 2_second,HP_second,Attack_second,Defense_second,Sp. Atk_second,Sp. Def_second,Speed_second,Generation_second,Legendary_second
0,0,Rock,Ground,50,64,50,45,50,41,2,...,Grass,Dark,70,70,40,60,40,60,3,False
1,0,Grass,Fighting,91,90,72,90,129,108,5,...,Rock,Fighting,91,129,90,72,90,108,5,True
2,0,Fairy,Flying,55,40,85,80,105,40,2,...,Psychic,NaN,75,75,75,125,95,40,5,False
3,0,Fire,NaN,40,40,40,70,40,20,2,...,Dragon,NaN,77,120,90,60,90,48,5,False
4,1,Rock,Water,70,60,125,115,70,55,1,...,Bug,Rock,20,10,230,10,230,5,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,Dragon,Fire,100,120,100,150,120,90,5,...,Water,NaN,30,40,70,70,25,60,1,False
49996,1,Ground,NaN,60,85,40,30,45,68,5,...,Electric,NaN,35,55,40,45,40,60,5,False
49997,0,Water,Flying,60,50,100,85,70,65,3,...,Normal,NaN,73,115,60,60,60,90,3,False
49998,1,Electric,NaN,40,30,50,55,55,100,1,...,Electric,Steel,25,35,70,95,55,45,1,False
49999,1,Fire,Flying,78,104,78,159,115,100,1,...,Fighting,NaN,70,80,50,35,35,35,1,False